<div class="container course-list-container">
    <!-- Example row of columns -->
    <div class="row intro">
        <div class="logo-wrapper">
            <object data="../img/svg/rcpar_logo_vert.svg" type="image/svg+xml"></object>
        </div>
    </div>

    <div class="row courses-row">
        <div ng-repeat="c in courses"  class="col-xs-3 course-block-wrapper">
            <div class=" course-block text-center  " ng-class="c.theme" >
                <p>
                    <a ng-if="!displayChapters" ui-sref="course.chapter({courseId:c.id,chapterId: defaultChapter(c.id) })">{{c.text}}</a>
                    <a ng-if="displayChapters" ui-sref="course({courseId:c.id})"  class="entrance-link">{{c.text}}</a>
                </p>
            </div>
        </div>
    </div>
</div>
