<div class ='page-inner container'>
    <div class="row">
        <div ng-class="{'hide': !displayChapters}" class="col-md-4 col-sm-4 col-xs-4 chapters">
            <div class="chapters-outer col-md-10 col-xs-10 col-md-offset-2 col-xs-offset-2">
                <h2><strong>{{title}}</strong> CHAPTERS </h2>
                <nav>
                    <ul class="nav">
                        <li ng-repeat="(key,c) in listChapters(course)" class="chapter-link">
                            <a ui-sref="course.chapter({chapterId:key})"   ng-class="{active : chapter === key}" >
                                <div class = "chapter-title">
                                    <div class="text">
                                        <strong>{{key}}</strong> {{c.chapter_title}}
                                    </div>
                                </div>
                                <div class = "chapter-link">
                                    <img  class ='chapter-link-icon' src="../img/svg/btn_arrow.svg" />
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div  ng-class="{'col-md-8 col-sm-8 col-xs-8':displayChapters, 'col-md-12 col-sm-12 col-xs-12':!displayChapters}" class="sections">
            <div class="" ui-view></div>
        </div>
    </div>
</div>