<!DOCTYPE html>
<html ng-app="myApp" ng-class="[$root.pageClass,$root.courseClass]">
<head>

    <title>Roger CPA Review - Offline Lectures</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/styles.css">

    <link rel="stylesheet" href="../css/course.css">
    <link rel="stylesheet" href="../css/sign-in.css">
    <link rel="stylesheet" href="../css/license-agreement.css">

    <!-- section specific color override: -->
    <link rel="stylesheet" href="../css/aud.css">
    <link rel="stylesheet" href="../css/bec.css">
    <link rel="stylesheet" href="../css/far.css">
    <link rel="stylesheet" href="../css/reg.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

    <script src="../bower_components/angular/angular.min.js"></script>

    <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/routes.js"></script>
    <script src="../js/authentication.service.js"></script>
    <script src="../js/login.controller.js"></script>
    <script src="../js/video.list.controller.js"></script>
    <script src="../js/navbar.controller.js"></script>
    <script src="../js/video.service.js"></script>
    <script src="../js/modals.js"></script>
    <script src="../js/course.controller.js"></script>
    <script src="../js/course.list.controller.js"></script>
    <script src="../js/license-agreement.controller.js"></script>
    <!-- <script src="../js/konami.js"></script> -->
</head>
<body ng-class="[$root.pageClass,$root.courseClass]">
    <nav id='main-nav' class="navbar navbar-default" ng-controller="NavBarController"  >

        <a class="navbar-brand pull-left" ng-click="home()">
            <img src="../img/svg/rcpar_logo_horiz.svg" />
        </a>

        <div class="btn-group pull-right" uib-dropdown is-open="status.isopen"  ng-controller="CourseListController">
            <a id="course-picker-btn" type="button" class="btn" uib-dropdown-toggle ng-disabled="disabled">
                <div class="top">{{course}}</div>
                <div class="bottom"> <span class="caret"></span></div>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li ng-repeat="c in courses"  ng-if="c.id!=course" class="course-link-aud">

                    <a ng-if="!displayChapters" ui-sref="course.chapter({courseId:c.id,chapterId: defaultChapter(c.id) })" ng-click="closeModals()"   ng-class="c.theme" >{{c.text}}</a>

                    <a ng-if="displayChapters" ui-sref="course({courseId:c.id})"  ng-click="switchCourse(c.id)" ng-class="c.theme"  >{{c.text}}</a>
                </li>
            </ul>
        </div>


    </nav>

    <div ui-view class="page-container">
    </div>
</body>
</html>


