<div class="modal-header">
    <h3 class="modal-title">{{course}}</h3>
</div>
<div class="modal-body">
    <div class="license-agreement clearfix">
        <div class="logo  text-center">
            <img src="../img/svg/rcpar_logo_horiz.svg"/>
        </div>
        <p class="license-outer text-center"> In order to continue you must agree the terms of the software license agreement.</p>
        <div class='license-agreement-block' >
            <strong>SOFTWARE LICENSING AGREEMENT</strong>
            <br/>
            1. NOTICE. ROGER CPA REVIEW IS WILLING TO LICENSE THE ENCLOSED SOFTWARE TO YOU ONLY ON THE CONDITION THAT YOU ACCPET ALL THE TERMS CONTAINED IN THIS LICENSE AGREEMENT. PLEASE READ THIS LICENSE AGREEMENT CAREFULLY BEFORE CONTINUING. BY CLICKING ON THE “ACEPT” BUTTON YOU AGREE TO BE BOUND BY THE TERMS OF THIS AGREEMENT. IF YOU DO NOT AGREE TO THESE TERMS ROGER CPA REVIEW IS UNWILLING TO LICENSE THE SOFTWARE TO YOU , AND YOU SHOULD CLICK THE “DECLINE” BUTTON TO EXIT. IN SUCH CASE, PROMPTLY RETURN ANY AND ALL UNOPENED ROGER CPA REVIEW MATERIALS, ALONG WITH PROOF OF PAYMENT, TO ROGER CPA REVIEW FOR A FULL REFUND OF THE PURCHASE PRICE YOU PAID MINUS SHIPPING AND HANDLING FEES.
            <br/>
            2. Ownership and License. This is a license agreement and NOT an agreement for sale. Roger CPA Review  continues to own the copy of this Software contained in this package and all other copies that you are authorized by this Agreement to make (the “Software”). Your rights to use the Software are specified in this Agreement and we retain all rights not expressly granted to you in this Agreement. Nothing in this  Agreement constitutes a wavier of Roger CPA Review’s rights under U.S. Copyright law or any other federal or state laws in the Copyright laws or any other applicable laws of other nations.
            <br/>
            3. Permitted Uses. You are granted the following rights to the Software:
            (a) Right to Install and Use – Standalone Computer version. You may use the Software on one and only one compatible computer at a time. You may not under any circumstance use the Software simultaneously on two or more computers.
            (b) Right to Transfer – You may not lend, rent or lease this Software without the express written consent of Roger CPA Review.
            (c)Single User License – The software is licensed for use to the customer only, and grants user rights to only one individual. No other individual or group may view, listen to, or utilize the software in any way whatsoever.
            <br/>
            4. Prohibited Uses – You may not, without written permission from Roger CPA Review:
            (a) Use, copy modify, merge, or transfer copies of the Software and any accompanying documents except as provided in this Agreement;
            (b) Disassemble, decompile or “unlock”, reverse translate or engineer, or in any manner decode the Software for any reason; or
            (c) Sublicense the Software.
            <br/>
            5. Limited Warranty. We make the following limited warranties, for a period of ninety (90) days from the date you acquired the Software from Roger CPA Review or its authorized dealer:
            (a) Media. The External Drive and documentation in this package will be free from defects in materials and workmanship under normal use. If the External Drive or documentation fail to conform to this warranty, you may, as your sole and exclusive remedy, obtain a replacement free of charge if you return the defective drives or documentation to Roger CPA Review with a dated proof of purchase.
            (b) Software. The software in this package will materially conform to the documentation that accompanies it. If the Software fails to operate in accordance with this warranty, you may, as your sole and exclusive remedy, return all of the Software and documentation, along with a dated proof of purchase, specifying the problem, and Roger CPA Review, at its option, will provide you with either a new version of the Software.
            (c) Warranty Disclaimer. Roger CPA Review does not warrant that this Software will meet your requirements or that its operation will be uninterrupted or error-free. Roger CPA Review excludes and expressly disclaims all expressed and implied warranties not stated herein, including the implied warranties of merchantability of fitness for a particular purpose. (These warranties give you specific legal rights, and you may also have other rights which vary from jurisdiction to jurisdiction. Some jurisdictions do not allow the exclusion of limitation of implied warranties, so the above exclusion or limitation may not apply to you. In that event such warranties are limited in duration to the warranty period. No warranties apply after that period.)
            <br/>
            6. Charges and Taxes. Roger CPA Review does not give refunds or credits for charges already due or paid. If any authority imposes a duty, tax levy or fee, excluding t hoses based on Roger CPA Review’s net income, upon the Software supplied by Roger COA Review under this Agreement, then you agree to pay that amount as Roger CPA Review specifies or supply exemption documentation.
            <br/>
            7. Limitation of Liability. Roger CPA Review’s liability to you for any losses shall be limited to direct damages, and shall not exceed the amount you originally paid for this Software. In no event will Roger CPA Review be liable for any special, incidental, or indirect damages or for any economic consequential damages (including lost profits or savings), even if Roger CPA Review, or its reseller, has been advised of the possibility of such damages. Some jurisdictions do not allow the exclusion or limitation of incidental or consequential damages, so the above limitation or exclusion may not apply to you.
            <br/>
            8. United States Government Restricted Rights. The enclosed Software and documentation are provided with Restricted Rights. Use, duplication or disclosures by the U.S. Government or any agency or instrumentality thereof is subject to restrictions as set forth in subdivision (c)(1)(ii) of the Rights in Technical Data and Computer Software clause at 48 C.F.R 252.227-7013, or in subdivision (c)(1)(ii) of the Rights in Technical Data and Computer Software clause at 48 C.F,.R. 52-227-19, as applicable.
            <br/>
            9 Export Controls. You agree that you will not directly or indirectly transfer the Software or documentation to any country where such transfer would be prohibited by the U.S. Export Administration Act and the regulations issued there under.
            <br/>
            10. Termination. This license and your right to use ths Software automatically terminates if you fail to comply with any provisions of this Agreement, destroy the copies of the Software in your possession, or voluntarily return the Software to Roger CPA Review. Upon termination you will destroy all copies of the Software and documentation.
            <br/>
            11. Miscellaneous Provisions. This agreement will be governed by and construed in accordance with the substantive laws of the state of California. This is the entire agreement between you and Roger CPA Review relating to the contents of this package, and supersedes any prior purchase order, communications, advertising or representation concerning the contents of this package. No change or modification of this Agreement will be valid unless it is in writing and is signed by Roger CPA Review. The governing language of this agreement shall be English.
        </div>

        <p class="license-outer text-center">
            This license is also posted at:
            <a ng-click="openLegal()" style="cursor:pointer;">
                http://www.rogercpareview.com/legal/usb
            </a>
        </p>

        <div class="text-center license-agreement-buttons">
            <a class="button-back" type="button" ng-click="cancel()"><img src="../img/svg/btn_back.svg"></a>
            <a class="button-agree" type="button" ng-click="accept()"><img src="../img/svg/btn_agree.svg"></a>
        </div>
    </div>
</div>




