<div class="login">
  <h1 class="text-center">Please Log In</h1>
  <p class="login-intro text-center">You must be connected to the internet to proceeed.</p>



  <form class="form-signin "  ng-submit="login()" ng-class="{'has-error': global_error}"  >
    <div class="alert alert-danger"  ng-if="global_error"  role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{global_error_message}}
    </div>
    <div class="form-group " ng-class="{'has-error': username_error}">
      <label>EMAIL</label>
      <input type="text" class="form-control" aria-describedby="basic-addon2" placeholder="Username" required autofocus ng-model="username"/>
      <div class="field-validator">
        <object class="correct" data="../img/svg/icon_correct.svg" type="image/svg+xml"></object>
        <object class="incorrect" data="../img/svg/icon_incorrect.svg" type="image/svg+xml"></object>
      </div>
      <span class="___help-block">{{username_error_message}}</span>
    </div>
    <div class="form-group " ng-class="{'has-error': password_error}" >
      <label for="name">PASSWORD</label>
      <input type="password" class="form-control" placeholder="Password" required ng-model="password" />
      <div class="field-validator">
        <object class="correct" data="../img/svg/icon_correct.svg" type="image/svg+xml"></object>
        <object class="incorrect" data="../img/svg/icon_incorrect.svg" type="image/svg+xml"></object>
      </div>
      <span class="__help-block">{{password_error_message}}</span>
    </div>
    <button class="btn btn-lg btn-block btn-transparent" type="submit" ng-disabled="form.$invalid || dataLoading" >
      LET'S GO!
    </button>

  </form>
</div>