<h2>
    <strong ng-if="displayChapters">{{chapter}}</strong>
    <strong ng-if="!displayChapters">{{course}}</strong>
    Sections
</h2>
<nav>
    <ul class="nav">
        <li ng-repeat="(key, video) in videos" class="video-link-outer col-sm-6">
            <a   ng-click="openModal(key)"  >
                <div class = "video-title">
                    <div class="text">
                        <strong>{{key}}</strong> {{video.title}}
                    </div>
                </div>
                <div class="video-actions">
                    <div class = "video-duration pull-left"> {{video.duration}} </div>
                    <div class = "video-play pull-left">
                        <img src="../img/svg/btn_play-small.svg" _type="image/svg+xml">
                    </div>
                </div>
            </a>
        </li>
    </ul>
</nav>





