<div class="modal-body">
    <a class="close-video pull-right " href="javascript:void(0)" ng-click="closeModal()">
        <img src="../img/svg/btn_close_video.svg" _type="image/svg+xml">
    </a>
    <video ng-src='{{video_src}}' id='video' controls autoplay></video>
</div>




