<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->

    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="../css/landing.css">
</head>

<body ng-app="landingApp" ng-controller="VideoListController as videoList" ng-cloak layout="column">

    <md-toolbar layout="row" layout-padding>
        <h1>Offline Lectures</h1>
    </md-toolbar>

    <!-- Container #2 -->
    <div class="container" flex layout="row">

        <!-- Container #3 -->
        <md-sidenav md-is-locked-open="true"  class="md-whiteframe-4dp">

            <p ng-if="indexdb_is_available == false"><md-button>Please wait...</md-button></p>

            <div ng-if="indexdb_is_available == true">

                <p ng-if="is_loading == 2"><md-button ng-click="onClickFetchList()">Load (From Server)</md-button></p>

                <p ng-if="is_loading == 1">Loading</p>

                <md-list ng-if="is_loading == 2">

                    <p ng-if="!has_license"><md-button ng-click="downloadLicenseKey()">Fetch Decrypt Key</md-button></p>

                    <p ng-if="has_license"><md-button ng-click="deleteLicenseKey()">Delete Decrypt Key</md-button></p>

                    <md-list-item ng-repeat="video in directory">
                        <p ng-if="video.is_downloaded">
                            <md-button ng-click="playVideo(video)">Play {{video.title}}</md-button>
                            <md-button ng-if="video.is_downloaded" ng-click="deleteVideo(video)"><small>Delete</small></md-button>
                        </p>
                        <p ng-if="!video.is_downloaded && !video.is_downloading">
                            <md-button ng-click="downloadVideo(video)">Download {{video.title}}</md-button>
                        </p>
                        <p ng-if="video.is_downloading">
                            <md-progress-linear md-mode="determinate" value="{{video.download_progress}}"></md-progress-linear>
                        </p>
                    </md-list-item>

                </md-list>

            </div>
        </md-sidenav>

        <!-- Container #4 -->
        <md-content flex id="content">
             <md-content flex layout-padding>
                 <!-- <p><small>Video Here</small></p> -->
                 <p>Videos are currently being stored on your computer at the following path</p>
                 <pre>{{data_path}}</pre>

                <div id="videoWrap">
                    <video width="300" height="180" controls id="videoContainer">
                        <!-- <source ng-repeat="source in sources" vsrc="{{ source.path }}" type="{{ source.type }}" html5vfix> -->
                        <!-- <source type="video/mp4" html5vfix> -->
                    </video>
                </div>
            </md-content>
        </md-content>

    </div>

    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="../bower_components/angular-material/angular-material.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>

    <script src="../bower_components/ng-electron/ng-electron.js"></script>

    <script src="../js/combine.util.js"></script>

    <script src="../js/videos/VideoListController.js"></script>

    <script>
        angular.module('landingApp', ['ngMaterial', 'landing']);
    </script>
</body>
</html>
