/* course specific colors **/

body.AUD #main-nav #course-picker-btn {
    border-top-color: #28a9e0;
}

body.AUD #main-nav #course-picker-btn .top {
    color:#28a9e0;
}


#main-nav ul.dropdown-menu li a.AUD {
    color:#28a9e0;
    border-top-color: #28a9e0;
}

.page-course-AUD .page-container, .AUD .modal.login-modal + .modal-backdrop.in{
    background: url(../img/backgrounds/bckrnd_AUD.png)  ;
    background-size: 100% 100% ;
}


/* video list page **/

.page-course-AUD .page-container .chapters{
    background: url(../img/backgrounds/bckrnd_AUD-DARK.png) repeat ;
    /*background-size: 100% 100% ;*/
}


.page-course-AUD .chapters nav .chapter-link a{
}


.page-course-AUD .chapters h2 {
}

.page-course-AUD .sections h2 {
    /*border-bottom: 1px solid #2dadd6 ;*/
}

.page-course-AUD .sections nav {
    /*border-top: 1px solid #95E8FF ;*/
}


.page-course-AUD .chapters nav .chapter-link a.active  {
    /*
    background: linear-gradient(to right, #225e78, #286985);
    */
}


/* license agreement */


.AUD .modal.license-agreement-modal + .modal-backdrop.in {
    background-color: #28a9e0 ;
}
.AUD .modal.license-agreement-modal .modal-header {
    background-color: #28a9e0 ;
}



/** video play **/
.AUD .modal.video-play-modal + .modal-backdrop.in {
    background-color: #265f7a;
    opacity: 1
}





@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    /* Retina-specific stuff here */
    .page-course-AUD .page-container, .AUD .modal.login-modal + .modal-backdrop.in {
        background-image: url(../img/backgrounds/bckrnd_AUD@2x.png);
    }

    .page-course-AUD .page-container .chapters{
        /*background-image: url(../img/backgrounds/bckrnd_AUD-INTERFACE-LEFT.png) ;*/
    }

}


