/* course specific colors **/

body.BEC #main-nav #course-picker-btn {
    border-top-color: #783a79;
}

body.BEC #main-nav #course-picker-btn .top {
    color:#783a79;
}

#main-nav ul.dropdown-menu li a.BEC {
    color:#783a79;
    border-top-color: #783a79;
}

.page-course-BEC .page-container, .BEC .modal.login-modal + .modal-backdrop.in{
    background: url(../img/backgrounds/bckrnd_BEC.png)  ;
    background-size: 100% 100% ;
}


/* video list page **/

.page-course-BEC .page-container .chapters{
    background: url(../img/backgrounds/bckrnd_BEC-DARK.png) ;
}

.page-course-BEC .chapters nav .chapter-link a{

}



/* license agreement */

.BEC .modal.license-agreement-modal +  .modal-backdrop.in {
    background-color: #6f3570 ;
}
.BEC .modal.license-agreement-modal .modal-header {
    background-color: #783a79 ;
}


/** login **/
.BEC .modal.login-modal +  .modal-backdrop.in {
    background-color: #783a79 ;
}

/** video play **/
.BEC .modal.video-play-modal + .modal-backdrop.in {
    background-color: #783a79;
    opacity: 1
}



@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    /* Retina-specific stuff here */
    .page-course-BEC .page-container, .BEC .modal.login-modal + .modal-backdrop.in {
        background-image: url(../img/backgrounds/bckrnd_BEC@2x.png);
    }

    .page-course-BEC .page-container .chapters{
        /*background-image: url(../img/backgrounds/bckrnd_BEC-INTERFACE-LEFT.png) ;*/
    }

}

