/* main course page */

.page-course .page-container{
    background-color: #cccccc ;
}

.page-course .page-inner,
.page-course .page-inner > .row ,
.page-course .chapters ,
.page-course .sections
{
    height: 100% ;
}


.page-course , .page-course a {
    color: #fff;
}

.page-course .page-inner {
    width: 100% ;
    position: relative;
}

.page-course h2 {
    margin-bottom: 0 ;
    margin-top: 0 ;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 300 ;
    font-size: 22px;
}

.page-course .chapters 
{
    padding-left: 0 ;
    background-color: rgba(0,0,0,0.1) ;
    height: 100% ;
}

.page-course .chapters  .chapters-outer 
{
    position: relative;
    height: 100%;
    border-left: 1px solid rgba(255,255,255,0.2) ;
}


.page-course .chapters h2 {
    padding-left: 0px;
    text-indent: 10px;
    margin-left: -15px; /** scoll moves content to the left - TODO check a better way of handling this**/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page-course .chapters h2:after {
    height: 0px;
    content: " ";
    display: block;
    margin-left: -7px ;
    margin-top: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.page-course .chapters nav{
    overflow: hidden;
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    overflow-y: auto; 
    height: calc( 100% - 55px );
    width: 100% ;
}

.page-course .chapters nav ul.nav > li{
    height: 62px;
}



.page-course .chapters nav .chapter-link a{
    background: transparent;
    border-right:  0 ;
    height: 63px;
    font-weight: 600;
    display: table;
    height: 100%;
    width: 100% ;
    border-top: 1px solid rgba(0,0,0,0.1) ;
    border-bottom: 1px solid rgba(255,255,255,0.1) ;
    border-left:  1px solid rgba(255,255,255,0.1) ;
}

.page-course .chapters nav .chapter-link a.active  {
    background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0));

}


.page-course .chapters nav .chapter-link a .chapter-title{
    vertical-align: middle;
    display: table-cell ;
    height: 100%;
    width: calc(100% - 50px) ;
}



.page-course .chapters nav .chapter-link a .chapter-link{
    vertical-align: middle;
    display: table-cell ;
    height: 100%;
    width: 50px ;
    text-align: center;
}

.page-course .chapters nav .chapter-link a .chapter-link-icon{
    height: 22px;
    display: block;
    margin: auto;
}


.page-course .chapters nav .chapter-link a .text{
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2; /* number of lines to show */
     /* http://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css */
 }




/** video links **/

.page-course .sections nav{
    overflow: hidden;
    position: absolute;
    top: 57px;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    height: calc( 100% - 57px );
    padding-top: 5px;
    width: 100% ;
    padding-left: 10px;
    padding-right: 10px;
}



.page-course .sections h2 {

}



.page-course .sections h2:after {
    height: 0px;
    content: " ";
    display: block;
    margin-top: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: -7px ;
}

.page-course li.video-link-outer {
    padding: 4px ;
    margin: 0 ;
}


.page-course li.video-link-outer >  a {
    width: 100%;
    height: 60px;
    overflow: hidden ;
    vertical-align: middle;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 2px;
    margin: 0px;
    background: transparent ;
    padding: 0 0 0 15px;
    cursor: pointer ;
    min-width: 220px;
    display: table ;
}

.page-course li.video-link-outer .video-actions {
    display: table-cell ;
    width: 90px ;
    maring-right: 5px;
}

.page-course li.video-link-outer >  a:hover {
    background: transparent ;
}



.page-course li.video-link-outer .video-duration,
.page-course li.video-link-outer .video-play ,
.page-course li.video-link-outer .video-play object {
    line-height: 60px;
}

.page-course li.video-link-outer .video-duration{
    padding-left: 3px;
    padding-right: 3px;
    text-align: right ;
    width: 43px;
}

.page-course li.video-link-outer .video-play {
    text-align: center;
    padding: 0 5px;
}

.page-course li.video-link-outer .video-play img {
    float: right;
    padding-right: 5px;
    width: 35px;
    height: 35px;
    margin: 13px 0px;

}


.page-course li.video-link-outer .video-title {
    display: table-cell ;
    height: 100%;
    vertical-align: middle;
    /* https://css-tricks.com/vertically-center-multi-lined-text/ */

}

.page-course li.video-link-outer .video-title .text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
   /* http://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css */
}


/** video player **/

.video-play-modal {
    color: #000;
}

.video-play-modal .modal-dialog {
    width: 732px;
}


.video-play-modal .modal-content {
    border: none;
    border-radius: 0;
}
 



/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .video-play-modal .modal-dialog {
        width: 800px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .video-play-modal .modal-dialog {
        width: 850px;
    }
}


.video-play-modal video {
    width: 100% ;
    color: #000 ;
}

.video-play-modal a.close-video {
    top: -35px;
    text-transform: uppercase;
    font-weight: bold;
    color: #d2d3d7;
    position: absolute;
    right: 0;
    padding-bottom: 10px;
    font-size: 12px;
}

.video-play-modal a.close-video img {
    width: 65px;
    margin-top: 6px;
}