/* course specific colors **/

body.FAR #main-nav #course-picker-btn {
    border-top-color: #63ba47;
}

body.FAR #main-nav #course-picker-btn .top {
    color:#63ba47;
}

#main-nav ul.dropdown-menu li a.FAR {
    color:#63ba47;
    border-top-color: #63ba47;
}

.page-course-FAR .chapters{
}

.page-course-FAR .page-container, .FAR .modal.login-modal + .modal-backdrop.in{
    background: url(../img/backgrounds/bckrnd_FAR.png)  ;
    background-size: 100% 100% ;
}

/* video list page **/

.page-course-FAR .page-container .chapters{
    background: url(../img/backgrounds/bckrnd_FAR-DARK.png) repeat ;
}


.page-course-FAR .sections nav {
}

/* license agreement */
.FAR .modal.license-agreement-modal +  .modal-backdrop.in {
    background-color: #5eb044 ;
}
.FAR .modal.license-agreement-modal .modal-header {
    background-color: #63ba47 ;
}


/** login **/

.FAR .modal.login-modal +  .modal-backdrop.in {
    background-color: #63ba47 ;
}



/** video play **/
.FAR .modal.video-play-modal + .modal-backdrop.in {
    background-color: #63ba47;
    opacity: 1
}


@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    /* Retina-specific stuff here */
    .page-course-FAR .page-container, .FAR .modal.login-modal + .modal-backdrop.in {
        background-image: url(../img/backgrounds/bckrnd_FAR@2x.png);
    }

    .page-course-FAR .page-container .chapters{
        /*background-image: url(../img/backgrounds/bckrnd_FAR-INTERFACE-LEFT.png) ;*/
    }

}

