
.modal.license-agreement-modal + .modal-backdrop.in {
    opacity: 1 ;
}

.modal.license-agreement-modal .modal-dialog {
    width: 800px;
}


.modal.license-agreement-modal .modal-header {
    color: #ffffff ;
    padding: 0 22px;
    height: 54px;
}

.modal.license-agreement-modal .modal-header  .modal-title {
    font-weight: 800 ;
    padding: 0;
    line-height: 54px;
}

.modal.license-agreement-modal .modal-footer {
    border: none;
}



.modal.license-agreement-modal .modal-body {
    box-shadow: inset 0 0 51px 18px #d8d6d7 ;
    padding: 30px 110px 30px;
    font-weight: bold;
    box-shadow: inset 0 0 22px 4px #d8d6d7;
    border-radius: 0 0 18px 18px;
}

.modal.license-agreement-modal .modal-content {
    background: #edebec ;
    border: none ;
    border-radius: 18px;

}

.license-agreement-modal,
.license-agreement-modal .btn,
.license-agreement-modal a{
    color: #666;
}

.license-agreement-modal .license-agreement-buttons {
    margin-top: 25px;
}

.license-agreement-modal .license-agreement-buttons img {
    width: 125px;
    height: 50px;
}

.license-agreement-modal .license-agreement-buttons a.button-back {
    margin-right: 18px;
}

.license-agreement .logo {
    margin-top: 27px;
    margin-bottom: 45px ;
}

.license-agreement .logo img {
    width: 370px;
    height: 39px;
}

.license-agreement .license-agreement-block {
    background: #fff;
    height: 150px;
    overflow-y: scroll;
    border: 1px solid #999 ;
    width: 100%;
    font-weight: 600;
    padding: 40px 25px;
    margin-bottom: 20px;
    color: #333333
}

