/* course specific colors **/

body.REG #main-nav #course-picker-btn {
    border-top-color: #f9a823;
}

body.REG #main-nav #course-picker-btn .top {
    color:#f9a823;
}

#main-nav ul.dropdown-menu li a.REG {
    color:#f9a823;
    border-top-color: #f9a823;
}
.page-course-REG .page-container, .REG .modal.login-modal + .modal-backdrop.in{
    background: url(../img/backgrounds/bckrnd_REG.png) repeat  ;
    /*background-size: 100% 100% ;*/
}

/* video list page **/


.page-course-REG .page-container .chapters{
    background: url(../img/backgrounds/bckrnd_REG-DARK.png) repeat ;
}


.page-course-REG .chapters nav .chapter-link a{
}


.page-course-REG .chapters h2 {

}



/* license agreement */


.REG .modal.license-agreement-modal +  .modal-backdrop.in {
    background-color: #e59b22 ;
    opacity: 1
}
.REG .modal.license-agreement-modal .modal-header {
    background-color: #f9a823 ;
}


/** login **/

.REG .modal.login-modal +  .modal-backdrop.in {
    background-color: #f9a823 ;
    opacity: 1
}



/** video play **/


.REG.modal.video-play-modal + .modal-backdrop.in {
    background-color: #f9a823;
    opacity: 1
}


@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    /* Retina-specific stuff here */
    .page-course-REG .page-container, .REG .modal.login-modal + .modal-backdrop.in {
        background-image: url(../img/backgrounds/bckrnd_REG@2x.png);
    }

    .page-course-REG .page-container .chapters{
        /*background-image: url(../img/backgrounds/bckrnd_REG-INTERFACE-LEFT.png) ;*/
    }

}

