.modal.login-modal {
    color: #fff;
}
.modal.login-modal .modal-header {
    padding-top: 5px;
    padding-bottom: 5px;
}

.modal.login-modal  h1 {
    font-weight: 300 ;
    font-size: 55px ;
    margin-bottom: 18px;
}

.modal.login-modal .modal-dialog {
    width: 420px;
    margin-left: auto; 
    margin-right: auto; 
}

.modal.login-modal .modal-content {
    margin-top: 120px;
    background: transparent ;
    border: none ;
    box-shadow: none;

}


.login-intro {
    /*width: 440px ;*/
}

.modal.login-modal .modal-content input,
.modal.login-modal .modal-content input:focus {
    background: transparent ;
    color: #fff ;
    border-color: #fff ;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none ;
    border-radius: 0;
    box-shadow: none;
    padding-left: 0 ;
}

.modal.login-modal .modal-content input::-webkit-input-placeholder {
    color: #fff;
}


.modal.login-modal + .modal-backdrop.in {
    opacity: 1 ;
}


.form-signin
{
    widht: 100%;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-group
{
    margin-bottom: 30px;
    padding-left: 35px;
    padding-right: 35px;
}

.form-signin .form-control
{

}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: 0px;
}
.form-signin input[type="password"]
{
    margin-bottom: 0px;

}

.form-signin  .field-validator {
    height: 33px;
    width: 35px;
    margin-top: 20px ;
    float: right;
    margin-right: -50px;
    margin-top: -38px;
}

.form-signin  .field-validator object {
    width: 33px;
    height: 33px;
}

.form-signin  .field-validator object.correct {
    display:  block ;
}
.form-signin  .field-validator object.incorrect {
    display:  none ;
}

.form-signin label {
    font-size: 12px;
    font-weight: 300;
}

.form-signin .help-block {
    display: none;
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    margin-top: 0px;
}

.form-signin  .has-error .help-block , .alert.danger{
    display: block;
    background: #f26d7e;
    color: #fff;
    
}

.form-signin  .has-error .field-validator object.correct {
    display:  none ;
}
.form-signin  .has-error .field-validator object.incorrect {
    display:  block ;
}

