html, 
body.page-course, 
body.page-course .page-container, 
body.page-course .page-inner {
    height: 100%;
}


body {
    font-family: "Open Sans","Arial","Helvetica",sans-serif;
    min-width: 800px;
}

body.modal-open {
    background: #fff ;
}


#main-nav {
    margin-bottom: 0 ;
    background: #fff;
    height: 55px;
    vertical-align: middle;
    z-index: 1100;
    border-radius: 0 ;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #dcdcdc ;
    border-top: none;

    position: fixed ;
    width: 100%;
}


.page-container {
    padding-top: 55px;
    position: relative;
}



#main-nav .navbar-brand {
    padding: 0 30px;
    cursor: pointer ;
    width: 33.3333%;
    border-right: 1px solid #85949b;
    height: 42px;
    margin-top: 8px;
}

@media screen and (max-width: 800px)  {
    #main-nav .navbar-brand {
        width: 268px ;
    }
}

#main-nav .navbar-brand img{
    float: right;
    margin-top: 8px;
    width: 225px;
    height: 25px;
}

/** course dropdown **/
#main-nav #course-picker-btn {
    padding: 0;
    border: 1px solid #f0f0f0 ;
    border-top: 4px solid #ccc ;
    border-bottom: none;
    color: #666;
    background: #fff ;
    border-radius: 0 ;
    font-weight: 600;
    width: 112px;
}

#main-nav #course-picker-btn .top {
    padding: 5px 0px;
    width: 100% ;
    border: none;
    border-bottom: 1px solid #f0f0f0 ;
}
#main-nav #course-picker-btn .bottom {
    padding: 0 ;
    text-align: center;
    width: 100% ;
    border: none;
    height: 19px;
}


.btn-group.open #course-picker-btn.dropdown-toggle {
    box-shadow: none;
}

#main-nav ul.dropdown-menu{
    min-width: 0;
    border-radius: 0 ;
    border: 1px solid #f0f0f0 ;
    margin-top: 0 ;
    padding: 0 ;

}
#main-nav ul.dropdown-menu li a {
    padding: 5px;
    border-top: 4px solid #ccc ;
    text-align: center;
    width: 110px;
}

/** home page **/

body.page-entrance {
    background-color: #fcfcfc;
    background: url(../img/entrancebg3.png) no-repeat fixed;
    background-position-x: center ;
    background-size: cover;
    height: 100%;
}



body.page-entrance #main-nav {
    display: none;
}

#main-nav , body.page-entrance.modal-open #main-nav  {
    display: block ;
}

body.page-entrance .logo-wrapper{
    text-align: center;
}

body.page-entrance .logo-wrapper object {
    height: 202px;
    width: 400px ;
    margin: 20px auto ;
    padding: 10px;
    display: block ;
}


body.page-entrance .course-block {

    border-radius: 10px;
    border-top: 22px solid ;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.0));

}




body.page-entrance .course-block a {
    font-size: 40px;
    font-weight: 300;
    font-family: "Open Sans","Arial","Helvetica",sans-serif;
    padding-top: 130px ;
    padding-bottom: 130px ;
    margin-top: -30px;
    display: block;
    width: 100%;
    color: inherit ;
    text-decoration: none;
    outline: none;
    height: 450px ;

}





body.page-entrance .course-block.AUD {
    border-color: #28a9e0 ;
    color:  #28a9e0 ;
}
body.page-entrance .course-block.BEC {
    border-color: #783a79 ;
    color:  #783a79 ;
}
body.page-entrance .course-block.FAR {
    border-color: #63ba47 ;
    color:  #63ba47 ;
}
body.page-entrance .course-block.REG {
    border-color: #f9a823 ;
    color:  #f9a823 ;
}


.modal.nav-visible + .modal-backdrop.in {
    top: 52px ;

}

.modal.nav-visible {
    margin-top: 80px;
}

.btn {
    border-radius: 3px;
}

.btn-transparent , .btn-transparent:hover, .btn-transparent:active {
    background: none ;
    border-color: #fff ;
    color: #fff ;
}

.course-block-wrapper {
    padding: 0 2.5px ;
}

